@import 'tailwindcss';

@theme {
  --color-primary: #d72638;
  --color-primary-dark: #b51d2a;
  --color-secondary: #444444;
  --color-background: #121212;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-animation {
  animation: slide-up 1s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}
